footer {
  color: black;
  align-items: center;
}
  
footer > section {
  text-align: center;
  font-size: 1.1em;
  margin: 1em;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

@media (min-width: 600px) {
  footer {
    display: flex;
    justify-content: space-around;
  }

  footer > section > p:first-child {
    margin-bottom: 0.7em;
  }

  hr {
    height: 1px;
    background-color: black;
    border: none;
    width: 90vw;
    margin: 0 auto;
  }
}