.leaderboard {
    font-size: 1.2em;
    height: fit-content;
    width: fit-content;
    border-radius: 0.8em;
    border-spacing: none;
    border-collapse: collapse;
}

.leaderboard-player:nth-of-type(even) {
    background-color: #d5d4d4;
}
/*

.leaderboard-player:nth-child(even) tr {
    background-color: #d5d4d4;
}

*/

th, td {
  padding: 0 10px;
}

.leaderboard-player td.centered {
    text-align: center;
}

.leaderboard thead {
  color: var(--color-dark-blue);
}

.leaderboard thead th {
  font-weight: 600;
  padding-bottom: 0.4em;
  text-align: start;
} 

.btn-star {
  --star-color:rgb(157, 157, 157);
  font-size: 0.7em;
  background: none;
  border: none;
  margin:1em auto;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
 }
 .btn-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content:"";
  transform: rotate(-35deg);
 }
 .btn-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content:"";
 }

 #btn-fav {
  --star-color:orange;
 }

 #btn-fav:hover {
  --star-color:rgb(157, 157, 157);
 }

 .btn-star:hover {
  --star-color:orange;
  cursor: pointer;
 }

 .medals{
  width: 20px;
  height: auto;
}

/* .top5-players .medals{
  width: 1.3vw;
  height: auto;
} */

.current-player {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px 0;
}

 @media (min-width: 600px) {
  .leaderboard {
    font-size: 1.5em;
  }

  th, td {
    padding: 0.1em 1.5em;
  }

  .leaderboard .medals{
    width: 40px;
    height: auto;
  }

  .btn-star {
    font-size: 0.9em;
  }
 }